@use "/app/styles/constants" as *;
@use "sass:color";
// --- Header Styles ---
.App-header {
    background-image: url('/bg.webp');
    background-size: cover;
    background-position: center;
    color: $color-white;
    text-align: left;
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: $header-padding-sm;
    min-height: 18rem; 
    position: relative; // Enable positioning for child elements
  
    @media (min-width: $screen-xs) {
      padding: $header-padding-sm;
      min-height: 18rem; // Slightly larger for small screens
    }
    @media (min-width: $screen-sm) {
      padding: $header-padding-md;
      min-height: 14rem; // Adjusted for tablets
    }
    @media (min-width: $screen-md) {
      padding: $header-padding-lg;
      min-height: 10rem; // Adjusted for desktops
    }
    @media (min-width: $screen-lg) {
      padding: $header-padding-xl;
      min-height: 6rem; // Adjusted for large desktops
    }

    // Position the expandable menu
    .expandable-menu {
      position: absolute;
      bottom: 20px; // Position 20px from the bottom of the header
      right: 20px; // Position 20px from the right of the header
    }
  }
  
  // --- Profile Container ---
  .profile-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  
    @media (max-width: $screen-sm) {
      flex-flow: column;
      align-self: start;
    }
  
    .profile-photo {
      width: $photo-size-md;
      height: $photo-size-md;
      border-radius: 2rem;
      margin-right: $spacing-md;
          border: 2px solid goldenrod;
          box-shadow: $box-shadow-footer;
          cursor: pointer;
      // border: $thick solid $color-accent;
  
          @media (prefers-color-scheme: dark) {
            box-shadow: inset 0 0 1rem black, inset 0 0 2rem rgba(0, 0, 0, 0.5);
            filter: brightness(0.8);
          }
      &:hover {
        transform: scale(1.025);
      }
      @media (max-width: $screen-sm) {
        width: $photo-size-sm;
        height: $photo-size-sm;
      border-radius: 1rem;
      }
    }
  
    .contact-info {
      h1 {
        font-size: $font-size-h1;
        margin: 0;
        padding: 0.5rem 0.2rem 0 0;
  
        color: $color-white;
        text-shadow: 0 0 6px black;
        @media (max-width: $screen-sm) {
          font-size: $font-size-h2; // Adjusted for smaller screens
        }
        
          @media (prefers-color-scheme: dark) {
            color: $color-text-light;
            text-shadow: 0 0 6px black;
          }
      }
  
      p {
        margin: 0 0 $spacing-xs 0;
        color: $color-white;
        text-shadow: 0 0 6px black;
        font-size: 1.2rem;
        font-weight: bold;
        padding: 0 0.3rem;
        border-radius: 0.75rem;
  
        @media (max-width: $screen-sm) {
          font-size: 0.9rem; // Slightly smaller for small screens
        }
        @media (prefers-color-scheme: dark) {
          color: $color-text-light;
          text-shadow: 0 0 6px black;
        }
        svg {
          filter: drop-shadow(0 0 6px black);
        }
      }
  
      a {
        color: $color-white;
        text-shadow: 0 0 6px black;
        font-size: 1.2rem;
        text-decoration: none;
        font-weight: bold;
        @media (max-width: $screen-sm) {
          font-size: 0.9rem; // Slightly smaller for small screens
        }
        &:hover {
          text-decoration: underline;
        }
        
        @media (prefers-color-scheme: dark) {
          color: $color-text-light;
          text-shadow: 0 0 6px black;
        }
      }
    }
  }