@use "/app/styles/constants" as *;

.expandable-menu {
  z-index: 1000;
  position: relative;

  .menu-toggle {
    display: none;
  }

  .menu-button {
    width: $social-link-size-sm;
    height: $social-link-size-sm;
    // border-radius: $border-radius-circle;
    background: linear-gradient(to bottom, rgba(213, 214, 216, 0.8), rgba(166, 200, 252, 0.8));
    border: $thin solid goldenrod;
    color: rgb(67, 64, 64);
    text-decoration: none;
    text-shadow: 0px 0px 2px rgba(255, 223, 14, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    box-shadow: $box-shadow-footer;
    transition: $bg-transition;

    .arrow {
      width: 12px;
      height: 12px;
      border: $thin solid  rgb(67, 64, 64);
      border-width: 2px 2px 0 0;
      transform: rotate(45deg);
      position: absolute;
      transition: transform 0.3s ease;
          color: rgb(67, 64, 64);
          text-decoration: none;
      
    @media (max-width: $screen-sm) {
        width: 10px;
        height: 10px;
      }
      @media (max-width: 400px) {
          height: 8px;
          width: 8px;
        }
    }

    &:hover {
      background-color: $color-hover;
      transform: scale(1.06);
    }

    &:active {
      transform: scale(0.95);
    }

    @media (max-width: $screen-sm) {
      width: 30px;
      height: 30px;
    }
    
    @media (max-width: 400px) {
        height: 22px;
        width: 22px;
      }
  }

  .menu-toggle:checked + .menu-button .arrow {
    transform: rotate(-135deg);
  }

  .menu {
    position: absolute;
    top: 50%;
    right: calc(100% + 0.5rem); // Position the menu to the left of the button with a small gap
    transform: translateY(-50%);
    display: flex;
    flex-direction: row; // Ensure items are in a row
    align-items: center;
    gap: $social-gap-lg; // Add space between menu items
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex; // Ensure the list items are in a row
      gap: $social-gap-lg; // Add space between list items
      @media (max-width: $screen-sm) {
        gap: $social-gap-sm; // Adjust gap for small screens
      }
      li {
        margin: 0;
        padding: 0;

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          height: $social-link-size-sm;
          background: linear-gradient(to bottom, rgba(213, 214, 216, 0.8), rgba(166, 200, 252, 0.8));
          // border-radius: 1rem;
          border: $thin solid goldenrod;
          color: black;
          text-decoration: none;
          text-shadow: 0px 0px 2px rgba(255, 223, 14, 0.6);
          font-size: $font-size-h3;
          box-shadow: $box-shadow-footer;
          transition: $bg-transition;
          padding: 0 1rem;

          &:hover {
                      background: linear-gradient(to bottom, rgba(213, 214, 216, 0.8), rgba(166, 200, 252, 0.8));

            transform: scale(1.1);
            box-shadow: $box-shadow-hover;
          }
          
    @media (max-width: $screen-sm) {
        height: 28px;
        font-size: $font-size-small;
      }
      @media (max-width: 400px) {
          height: 20px;
          font-size: 12px;
          padding: 0px 6px;
        }
        }
      }
    }
  }

  .menu-toggle:checked ~ .menu {
    opacity: 1;
    visibility: visible;
  }
}


