@use "/app/styles/constants" as *;
@use "sass:color";

code {
  font-family: $font-primary;
}

html,
body {
  user-select: none;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: $font-primary;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

body>* {
  flex: 1; // Ensures the content area grows to fill available space
}

main {
  margin: 0 !important;
  padding: 0 !important;
  min-height: 100vh; // Ensures the main content area takes full height
  flex: 1; // Ensures the main content area grows to fill available space
}