@use "/app/styles/constants" as *;
@use "sass:color";

// --- Global Styles ---
.App {
  text-align: center;
  font-family: $font-primary;
  line-height: 1.6;
  color: $color-text;
  margin: 0;
  padding: 0;
}

section {
  padding: 0 2rem;
  margin-bottom: $margin-lg;

  @media (prefers-color-scheme: dark) {
    color: $color-text-light;
  }

  @media screen and (max-width: $screen-sm) {
    padding: 0 1rem;
    margin-bottom: $margin-md;
  }

  h2 {
    font-size: $font-size-h2;
    color: $color-heading-dark;
    border-bottom: $thick solid $color-accent;
    padding-bottom: $padding-xs;
    margin-bottom: $margin-sm;
    text-align: left;

    @media (prefers-color-scheme: dark) {
      color: $color-heading-light;
      border-bottom: $thick solid $color-accent-light;
    }

    @media (max-width: $screen-sm) {
      // font-size: $font-size-base; // Smaller font size for small screens
    }
  }

  p {
    font-size: $font-size-base;
    margin: $margin-sm 0;
    text-align: left;
    padding: 0 0.5rem;

    @media (prefers-color-scheme: dark) {
      color: $color-text-light;
    }

    @media (max-width: $screen-sm) {
      padding: 0 0.2rem;
      font-size: 0.8rem; // Adjusted for small screens
    }
  }

  ul {
    text-align: left;
    list-style-type: disc;
    padding: 0 0 0 1.5rem;

    li {
      margin-bottom: $margin-xs;

      &::marker {
        color: $color-accent;
        font-size: $font-size-base;
        @media (prefers-color-scheme: dark) {
          color: rgba($color: #6f82b2, $alpha: 1.0);
        }
      }
      h3 {
        font-size: $font-size-h3;
        margin: $margin-sm 0 0 0;
        color: $color-text;

        @media (prefers-color-scheme: dark) {
          color: rgba($color: #6f82b2, $alpha: 1.0);
        }

        @media (max-width: $screen-sm) {
          font-size: $font-size-base; // Adjusted for small screens
        }
      }

      h4 {
        margin: 0;
        padding: 0;
        font-size: small;
        color: grey;
        padding: 0 0 0.5rem 0.125rem;

        @media (prefers-color-scheme: dark) {
          color: $color-mid;
        }
        @media (min-width: $screen-sm) {
          font-size: medium; // Adjusted for small screens
        }
      }

      p {
        margin: 0 0 $margin-xs 0;
        padding: 0 0 1rem 0.2rem;
        font-size: $font-size-small;
        color: $color-mid;

        @media (prefers-color-scheme: dark) {
          color: $color-text-light;
        }

        @media (max-width: $screen-sm) {
          font-size: 0.8rem; // Smaller font size for small screens
        }
      }
    }
  }

  dl {
    margin: $margin-md 0;
    padding: 0;
    border-left: $thick solid goldenrod;
    padding-left: $padding-md;
    text-align: left;

        @media (prefers-color-scheme: dark) {
          border-left: $thick solid rgba($color: #6f82b2, $alpha: 1.0);
        }
    dt {
      font-weight: bold;
      font-size: $font-size-h3;
      color: $color-heading-dark;
      margin-top: $margin-sm;

      @media (prefers-color-scheme: dark) {
            color: rgba($color: #6f82b2, $alpha: 1.0);
      }

      @media (max-width: $screen-sm) {
        font-size: 0.9rem; // Adjusted for small screens
      }
    }

    dd {
      margin: $margin-xs 0 $margin-sm $padding-sm;
      font-size: $font-size-base;
      color: $color-text;

      @media (prefers-color-scheme: dark) {
        color: $color-text-light;
      }

      @media (max-width: $screen-sm) {
        font-size: 0.75rem; // Adjusted for small screens
      }
    }
  }
}